<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<head>
  <title layout:fragment="title">Realiza tu reservacion</title>
</head>

<div layout:fragment="content">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6 border border-5 text-center">
      <h3>Seleccionar piso</h3>
      <div class="d-flex justify-content-center">
        <img th:src="@{assets/pisosPorFuera.png}" class="img-fluid w-50 rounded-top border border-2 border-dark border-bottom-0 cursor-pointer"
             data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #4"/>
      </div>
      <div class="d-flex justify-content-center">
        <img th:src="@{assets/pisosPorFuera.png}" class="img-fluid w-50 border-start border-end border border-2 border-dark cursor-pointer"
             data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #3"/>
      </div>
      <div class="d-flex justify-content-center">
        <img th:src="@{assets/pisosPorFuera.png}" class="img-fluid w-50 border-start border-end border border-2 border-dark cursor-pointer"
             data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #2"/>
      </div>
      <div class="d-flex justify-content-center">
        <img th:src="@{assets/pisosPorFuera.png}" class="img-fluid w-50 border-start border-end border border-2 border-dark cursor-pointer"
             data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #1"/>
      </div>
      <div class="d-flex justify-content-center">
        <img th:src="@{assets/PisoPuerta.png}" class="img-fluid w-50 border-start border-end border border-2 border-dark"
        data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Entrada Principal"/>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 border border-5">

    </div>
  </div>

</div>