<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_mainLayout}">

<head>
    <title layout:fragment="title">Reservaciones | Hotel California</title>
    <link rel="stylesheet" th:href="@{css/Reservation.css}">
</head>

<div layout:fragment="content">

    <!-- Encabezado de página -->
    <div class="page-header text-center">
        <div class="container">
            <h1 class="display-5 fw-bold">Reservaciones 🏨</h1>
            <p class="lead mb-0">Realiza tu reserva en el Hotel California</p>
        </div>
    </div>


    <div class="container">
        <!-- Tarjeta de contenido principal -->
        <div class="card shadow-sm mb-4 border border-2 border-dark rounded">
            <div class="card-body">
                <div class="row">
                    <!-- Selección de pisos -->
                    <div class="col-sm-12 col-md-12 col-lg-5 text-center">
                        <h3 class="mb-4">Seleccionar Piso</h3>
                        <div class="d-flex justify-content-center ">
                            <img data-floor="4" th:src="@{/assets/pisosPorFuera.png}"
                                 class="piso-img img-fluid w-75 rounded-top border border-2 border-dark border-bottom-0 cursor-pointer "
                                 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #4"/>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <img data-floor="3" th:src="@{/assets/pisosPorFuera.png}"
                                 class="piso-img img-fluid w-75 border-start border-end border border-2 border-dark cursor-pointer"
                                 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #3"/>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <img data-floor="2" th:src="@{/assets/pisosPorFuera.png}"
                                 class="piso-img img-fluid w-75 border-start border-end border border-2 border-dark cursor-pointer"
                                 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #2"/>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <img data-floor="1" th:src="@{/assets/pisosPorFuera.png}"
                                 class="piso-img img-fluid w-75 border-start border-end border border-2 border-dark cursor-pointer"
                                 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Piso #1"/>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img th:src="@{/assets/PisoPuerta.png}"
                                 class="img-fluid w-75 border-start border-end border border-2 border-dark"
                                 data-bs-toggle="tooltip"
                                 data-bs-placement="left" data-bs-title="Entrada Principal"/>
                        </div>
                    </div>

                    <!-- Habitaciones -->
                    <div class="col-sm-12 col-md-12 col-lg-7">
                        <h3 class="text-center mb-4" id="txt-tema"></h3>
                        <div id="rooms-container" class="row">
                            <div th:each="room : ${rooms}" th:attr="data-floor=${room.floor}"
                                 class="col-md-6 col-lg-4 mb-3 room-card">
                                <div class="card p-3"
                                     th:classappend="${room.status == 'OCCUPIED'} ? 'room-occupied'">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                 fill="currentColor"
                                                 class="bi bi-house-door mb-2" viewBox="0 0 16 16">
                                                <path
                                                        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                                            </svg>
                                            <p class="mb-1 fs-custom"
                                               th:text="${room.roomType} + ' #' + ${room.roomNumber}"></p>

                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-gold mt-3 reserve-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#roomModal"
                                            th:disabled="${room.status == 'OCCUPIED'}"
                                            th:data-room-id="${room.id}"
                                            th:data-room-number="${room.roomNumber}"
                                            th:data-room-type="${room.roomType}" th:data-floor="${room.floor}"
                                            th:data-status="${room.status}"
                                            th:data-description="${room.description}"
                                            th:data-images="${room.imagesJson}">
                                        Reservar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para realizar reserva -->
    <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roomModalLabel">
                        <i class="fas fa-calendar-check me-2"></i>Realizar Reservación
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="modalImages" class="d-flex mb-3 col-4"></div>
                    </div>

                    <!-- Info de la habitación -->
                    <div id="modalInfo" class="mb-4"></div>

                    <form id="reservationForm"
                          th:action="@{/reservation/save}"
                          th:object="${reservation}"
                          method="post">

                        <!-- id de la habitación -->
                        <input type="hidden" th:field="*{roomId}" id="formRoomId">

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="checkInDate" class="form-label fw-semibold">Fecha de Entrada</label>
                                <input type="date" th:field="*{checkInDate}" id="checkInDate" class="form-control"
                                       required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="checkOutDate" class="form-label fw-semibold">Fecha de Salida</label>
                                <input type="date" th:field="*{checkOutDate}" id="checkOutDate" class="form-control"
                                       required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Noches a Reservar</label>
                            <input type="text" id="nightsCount" class="form-control" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="amountPaid" class="form-label">Monto a Pagar ($)</label>
                            <input type="number" th:field="*{amountPaid}" id="amountPaid" class="form-control" readonly
                                   required>
                            <div class="form-text">El monto se calcula automáticamente según las fechas seleccionadas.
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <i class="fas fa-times me-2"></i>Cancelar
                            </button>
                            <button type="submit" class="btn btn-gold">
                                <i class="fas fa-save me-2"></i>Confirmar Reserva
                            </button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>


</div>
</html>