<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_mainLayout}">

<head>
    <title layout:fragment="title">Estados de habitaciones | Hotel California</title>
</head>

<div layout:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Listado de Estados de habitaciones</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRoomType">
            Nuevo estado
        </button>
    </div>

    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre de estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${statuses}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.statusName}"></td>

            <td>
                <a th:href="@{/status/remove/{id}(id=${item.id})}" class="btn btn-outline-danger"
                   onclick="return confirm('¿Seguro que deseas eliminar este estado?');">
                    Eliminar
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal para agregar nuevo tipo de habitación -->
    <div class="modal fade" id="modalRoomType" tabindex="-1" aria-labelledby="modalRoomTypeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalRoomTypeLabel">Agregar nuevo estado</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Cerrar"></button>
                </div>
                <form th:action="@{/status/save}" th:object="${status}" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="statusName" class="form-label">Nombre del Estado</label>
                            <input required type="text" class="form-control" th:field="*{statusName}" id="statusName"
                                   placeholder="Ej: Activo, Inactivo">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/status(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>

</div>
