<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Listado de grupos </h1>
    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo grupo</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>N° de habitaciones</th>
            <th>Tipo de habitación</th>
            <th>N° de piso</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${rooms}">
            <td th:text="${item.roomNumber}"></td>
            <td th:text="${item.roomTypeId.typeName}"></td>
            <td th:text="${item.floor}"></td>
            <td th:text="${item.statusId.statusName}"></td>
            <td th:text="${item.description}"></td>


            <td>
                <a th:href="@{/room/remove/{roomNumber}(roomNumber=${item.roomNumber})}" class="btn btn-outline-danger"
                   onclick="return confirm('¿Seguro que deseas eliminar esta habitación?');">
                    Eliminar
                </a>

        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar nuevo Rol</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/room/save}" th:object="${room}" method="post">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="roomTypeId"  class="form-label">Id tipo de habitación</label>
                            <select class="form-select" th:field="*{roomTypeId}">
                                <option th:each="item: ${listadoTipos}" th:value="${item.id}"
                                th:text="'Tipo: '+${item.typeName}+' Precio: '+${item.roomPrice}"></option>
                            </select>

                            <label for="floor"  class="form-label"># de piso</label>
                            <input required type="text" class="form-control" th:field="*{floor}" id="floor" >

                            <label for="statusId"  class="form-label">Id de estado</label>
                            <select class="form-select" th:field="*{statusId}">
                                <option th:each="item: ${estados}" th:value="${item.id}"
                                        th:text="'Estado: '+${item.statusName}"></option>
                            </select>


                            <label for="description"  class="form-label">descripcion de habitacion</label>
                            <input required type="text" class="form-control" th:field="*{description}" id="description" placeholder="P.e: Administrador">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber: ${pageNumbers}">
                <a class="page-link" th:href="@{1/roles?page=${pageNumber}}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>